body{
    background-color: #E8E8E8!important;
}

.header{
    border-bottom:3px solid #9F9A0F;
}

.footer{
    border-top:3px solid #9F9A0F;
}

.img{
    border-radius: 20px 0px 20px 0px;
    border-top:solid 10px #9F9A0F;
    border-left:solid 10px #9F9A0F;
    box-shadow: 10px 15px 15px 0px rgba(0,0,0,0.75);;
}

.title{
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 30px;
}

.content{
    margin-block: 150px!important;
}

.nav-item a{
    font-weight: 900;
}

.btn.documentation{
    background-color: #9F9A0F;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

#documenation{
    margin-top: 20px;
}

a.return{
    text-decoration: none;
    color: #9F9A0F;
}
a.return > strong{
    margin-left: 10px;
}